# Corporate Acquisitions Analysis

In [1]:
import pandas as pd

In [2]:
acquisitions = pd.read_csv("acquisitions.tsv", sep="\t")
print(acquisitions)

     acquired_by                date              company  \
0      Microsoft  September 13, 2018                 Lobe
1      Microsoft     October 9, 2018                Glint
2      Microsoft        May 19, 2020          Softomotive
3      Microsoft        May 14, 2020  Metaswitch Networks
4      Microsoft      March 26, 2020    Affirmed Networks
...          ...                 ...                  ...
2123      Yahoo!     October 4, 2014            MessageMe
2124      Yahoo!   November 11, 2014           BrightRoll
2125      Yahoo!   November 21, 2014             Cooliris
2126      Yahoo!   December 11, 2014      Media Group One
2127      Yahoo!       July 31, 2015             Polyvore

                          business        location          value  \
0          Artificial intelligence   United States            NaN
1              Employee engagement   United States    400,000,000
2       Robotic Process Automation  United Kingdom            NaN
3                    5G Networking  United Kingdom            NaN
4                    5G networking   United States  1,350,000,000
...                            ...             ...            ...
2123                 Messaging app             USA            NaN
2124      Online video advertising             USA   $640,000,000
2125                 Photo viewing             USA            NaN
2126  Advertising and online video             GER            NaN
2127   Clothing e-commerce website             USA   $160,000,000

              used_as
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
2123  Yahoo! Livetext
2124              NaN
2125              NaN
2126              NaN
2127              NaN

[2128 rows x 7 columns]

In [3]:
values = acquisitions["value"]

for i, value in enumerate(values):
    if type(value) is str:
        if value.startswith("$"):
            values[i] = value[1:]

In [4]:
values[1978] = "100000000"

In [5]:
values = pd.to_numeric(values.str.replace(",", ""))
print(values)

0                NaN
1       4.000000e+08
2                NaN
3                NaN
4       1.350000e+09
            ...
2123             NaN
2124    6.400000e+08
2125             NaN
2126             NaN
2127    1.600000e+08
Name: value, Length: 2128, dtype: float64

In [6]:
acquisitions["value"] = values

In [7]:
print(acquisitions)

     acquired_by                date              company  \
0      Microsoft  September 13, 2018                 Lobe
1      Microsoft     October 9, 2018                Glint
2      Microsoft        May 19, 2020          Softomotive
3      Microsoft        May 14, 2020  Metaswitch Networks
4      Microsoft      March 26, 2020    Affirmed Networks
...          ...                 ...                  ...
2123      Yahoo!     October 4, 2014            MessageMe
2124      Yahoo!   November 11, 2014           BrightRoll
2125      Yahoo!   November 21, 2014             Cooliris
2126      Yahoo!   December 11, 2014      Media Group One
2127      Yahoo!       July 31, 2015             Polyvore

                          business        location         value  \
0          Artificial intelligence   United States           NaN
1              Employee engagement   United States  4.000000e+08
2       Robotic Process Automation  United Kingdom           NaN
3                    5G Networking  United Kingdom           NaN
4                    5G networking   United States  1.350000e+09
...                            ...             ...           ...
2123                 Messaging app             USA           NaN
2124      Online video advertising             USA  6.400000e+08
2125                 Photo viewing             USA           NaN
2126  Advertising and online video             GER           NaN
2127   Clothing e-commerce website             USA  1.600000e+08

              used_as
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
2123  Yahoo! Livetext
2124              NaN
2125              NaN
2126              NaN
2127              NaN

[2128 rows x 7 columns]

In [ ]:
acquisitions.to_csv("acquisitions.tsv", "\t")